*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #b8b961;
}
#accordion{
    margin: 100px auto;
    width: 600px;
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion li p {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    color: #c20000;
}

#accordion2{
    margin: 100px auto;
    width: 600px;
}
#accordion2 li p span{
    transform: rotate(90deg);
    font-size: 22px;
    color: blue;
}

#accordion{
    margin: 100px auto;
    width: 600px;
}
#accordion2 li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion2 li p {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    color: #c20000;
}
#accordion2 li p span{
    transform: rotate(90deg);
    font-size: 22px;
    color: blue;
}